<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style type="text/css">
	.border-color{
		border-top: 2px solid rgb(153,96,105);
	}
	.date_text{
		font-size: 10px;
		margin-left: 10px;
		margin-top: 5px;
	}
	.coment_name{
		font-size: 14px;
	}
	.row_padding{
		
		margin-top: 15px;
	
	}
	.border1{
		border-top: 1px solid rgb(153,96,105);
		border-bottom: 1px solid rgb(153,96,105);
	}
	.br2{
		border-right: 1px solid rgb(153,96,105);
	}

	
</style>
</head>
<body>
<div class="container mt-5">
<table class="table border-color">
	<tr class="row">
		<td class="col-md-1 br2"><b>Name</b></td>
		<td class="col-md-11">Adnan Arif</td>
	</tr>
		<tr class="row border1">
		<td class="col-md-1 br2"><b>Desc</b></td>
		<td class="col-md-7">Adnan Arif</td>

		<td class="col-md-1"><b>Date</b></td>
		<td class="col-md-1">20.1.2019</td>
		<td class="col-md-1"><b>Views</b></td>
		<td class="col-md-1">100</td>

	</tr>

</table>

<p>Details things</p>

<hr class="mt-5">
<div class="row mt-4">
	<div class="col-md-1"><img src="demo_img.jpg" width="75px"></div>
	<div class="col-md-11 row_padding">
		<div class="row ml-2"><span class="coment_name">Comment Name</span> <span class="date_text">2019.08.19/.1:57:00</span></div>
		<div class="ml-5">Comment Details</div>
	</div>
</div>
</div>























<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>